extends layout

block content
 .jumbotron
   .container
     h1 #{title}
     p
       | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin, arcu ac semper aliquet, ipsum enim hendrerit enim, eu venenatis nisl est et est. In id suscipit felis. Aenean nec accumsan orci. Nam commodo bibendum nulla, at vehicula magna congue ac.
     p
       a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
 .container
   .row
     .col-md-4
       h2 Heading
       p
         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin, arcu ac semper aliquet, ipsum enim hendrerit enim, eu venenatis nisl est et est. In id suscipit felis. Aenean nec accumsan orci. Nam commodo bibendum nulla, at vehicula magna congue ac. Sed sed erat sed enim pharetra pellentesque id in urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer maximus augue in pharetra convallis. Cras vel dolor at erat aliquet convallis a a lorem. Mauris finibus ipsum a augue iaculis gravida.
       p
         a.btn.btn-default(href='#', role='button') View details »
     .col-md-4
       h2 Heading
       p
         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin, arcu ac semper aliquet, ipsum enim hendrerit enim, eu venenatis nisl est et est. In id suscipit felis. Aenean nec accumsan orci. Nam commodo bibendum nulla, at vehicula magna congue ac. Sed sed erat sed enim pharetra pellentesque id in urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer maximus augue in pharetra convallis. Cras vel dolor at erat aliquet convallis a a lorem. Mauris finibus ipsum a augue iaculis gravida.
       p
         a.btn.btn-default(href='#', role='button') View details »
     .col-md-4
       h2 Heading
       p
         | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sollicitudin, arcu ac semper aliquet, ipsum enim hendrerit enim, eu venenatis nisl est et est. In id suscipit felis. Aenean nec accumsan orci. Nam commodo bibendum nulla, at vehicula magna congue ac. Sed sed erat sed enim pharetra pellentesque id in urna. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer maximus augue in pharetra convallis. Cras vel dolor at erat aliquet convallis a a lorem. Mauris finibus ipsum a augue iaculis gravida.
       p
         a.btn.btn-default(href='#', role='button') View details »
